<b>Install pandas</b>

pip install pandas

In [1]:
import pandas as pd

In [2]:
# A pandas data frame is structurely similar to a dictionary of lists
D = {
    'id': [0, 1, 2, 3],
    'name': ['Song', 'Biden', 'Biden', 'Potato'],
    'score': [100, 10, 20, 90]
}

# Create a dataframe from a dictionary
# Default index is a 0 based sequence of integers
pd.DataFrame(D)

   id    name  score
0   0    Song    100
1   1   Biden     10
2   2   Biden     20
3   3  Potato     90

In [3]:
df = pd.DataFrame(D)

# Pandas does not enforce the uniqueness of the index
df = df.set_index('name')

In [4]:
# We can get a column from a dataframe like the following
student_scores = df['score']
student_scores

name
Song      100
Biden      10
Biden      20
Potato     90
Name: score, dtype: int64

In [5]:
# We can further get the data from the column by the "index" label
# If the index is not unique, we get a series
student_scores['Biden']

name
Biden    10
Biden    20
Name: score, dtype: int64

In [6]:
# If the index is unique, we get the value
student_scores['Song']

np.int64(100)