In [2]:
import pandas as pd

df = pd.DataFrame({
    'id': ['English', 'English', 'Math', 'Math', 'Science'],
    'student': ['Song', 'Song', 'Trump', 'Trump', 'Biden']
})

df

        id student
0  English    Song
1  English    Song
2     Math   Trump
3     Math   Trump
4  Science   Biden

<h1>duplicated() output a Series where True indicates a duplicate row (after the first occurrence)</h1>

<h4>Controlling which duplicates are marked</h4>
<h4>
    <ol>
        <li>keep='first' (default): Marks duplicates as True except for the first occurrence</li>
        <li>keep='last': Marks duplicates as True except for the last occurrence</li>
        <li>keep=False: Marks all occurrences of duplicates as True</li>
    </ol>
</h4>

In [7]:
df.duplicated(keep=False)

0     True
1     True
2     True
3     True
4    False
dtype: bool

<h1>subset=[] specifies the columns to check for the duplications</h1>

In [8]:
df.duplicated(keep=False,subset=['id', 'student'])

0     True
1     True
2     True
3     True
4    False
dtype: bool

<h1>Get the duplicate rows</h1>

In [20]:
df.loc[df.duplicated(keep=False,subset=['id', 'student']), ['id', 'student']]

        id student
0  English    Song
1  English    Song
2     Math   Trump
3     Math   Trump

<h1>Get unique from the duplicated</h1>

<h4>
    The drop_duplicates() method has similar parameters as duplicated()
</h4>
<h4>
    <ol>
        <li>keep - default keep the first</li>
        <li>subset - default to check all the columns</li>
    </ol>
</h4>

In [39]:
df.loc[df.duplicated(keep=False,subset=['id', 'student']), ['id', 'student']].drop_duplicates()

        id student
0  English    Song
2     Math   Trump

In [45]:
len(df.loc[df.duplicated(keep=False,subset=['id', 'student']), ['id', 'student']].copy().drop_duplicates())

2