In [1]:
import pandas as pd

In [4]:
D = {
    'class': ['English', 'English', 'Math', 'Math'],
    'student': ['Song', 'Trump', 'Song', 'Trump'],
    'score': [100, 10, 20, 90]
}
df = pd.DataFrame(D)

In [6]:
df

     class student  score
0  English    Song    100
1  English   Trump     10
2     Math    Song     20
3     Math   Trump     90

In [13]:
dfs = df.groupby(['class', 'student'])

for g, df_sub in dfs:
    print(f'g is a tuple - {g}')
    print(df_sub)
    print()

g is a tuple - ('English', 'Song')
     class student  score
0  English    Song    100

g is a tuple - ('English', 'Trump')
     class student  score
1  English   Trump     10

g is a tuple - ('Math', 'Song')
  class student  score
2  Math    Song     20

g is a tuple - ('Math', 'Trump')
  class student  score
3  Math   Trump     90