In [1]:
import pandas as pd

In [2]:
D = {
    'class': ['English', 'English', 'Math', 'Math'],
    'student': ['Song', 'Trump', 'Song', 'Trump'],
    'score': [100, 10, 20, 90]
}
df = pd.DataFrame(D)

<h4>1. sample() randomly select faction of items from the dataframe</h4>
<h4>2. If replace parameter (default = False) is True, selected item is put back to the pool, so an item can be selected multiple times</h4>
<h4>3. Most likely replace=True should never be used</h4>
<h4>4. If frac=1.0, it then shuffle the dataframe</h4>
<h4>5. sample() can result in a new DataFrame with a non-sequential index, preserving the index from the original DataFrame.
    To reset this index to a default integer-based index (0, 1, 2, ...), the reset_index(drop=True) method is used
<ol>
    <li>drop=True makes sure the old index is dropped, otherwise it becomes a column in the new dataframe</li>
</ul>
</h4>
<h4>If the index is never used later, it is no need to reset the index</h4>

In [4]:
df.sample(frac=0.3).reset_index(drop=True)

     class student  score
0  English    Song    100

In [5]:
df.sample(frac=1.0).reset_index(drop=True)

     class student  score
0     Math    Song     20
1  English   Trump     10
2     Math   Trump     90
3  English    Song    100