In [2]:
from datetime import date
from dateutil.relativedelta import relativedelta
import pandas as pd

In [3]:
df_1 = pd.DataFrame({
    'name': ['yesterday'],
    'value': [None]
})

In [4]:
df_2 = pd.DataFrame({
    'name': ['today'],
    'value': [date.today()]
})

<h1>1. By default ignore_index=False</h1>

In [5]:
df = pd.concat([df_1, df_2])
df.info()

df

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   value   1 non-null      object
dtypes: object(2)
memory usage: 48.0+ bytes

        name       value
0  yesterday        None
0      today  2025-10-31

<h1>2. Set ignore_index=True will create a completely new index to the resulting dataframe, if necessary</h1>

In [6]:
df = pd.concat([df_1, df_2], ignore_index=True)
df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   value   1 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes

        name       value
0  yesterday        None
1      today  2025-10-31

<h1>3. It is OK to concat "None"</h1>

In [7]:
df_concated = pd.concat([df_1, None])
df_concated

        name value
0  yesterday  None

<h1>4. It is OK to concat empty dataframe</h1>

In [13]:
df_concated = pd.concat([pd.DataFrame(), pd.DataFrame()])
df_concated

Empty DataFrame
Columns: []
Index: []

In [14]:
df_concated = pd.concat([df_1, pd.DataFrame(), pd.DataFrame()])
df_concated

        name value
0  yesterday  None

<h1>5. Default is Deep copy</h1>
<h4>By default concat create a deep copy of from the origial dataframes (copy=True)</h4>
<h4>If a deep copy is not nececssary, copy=False can be add as a function parameter to save memory</h4>

In [58]:
df_1['value'] = date.today() - relativedelta(days=1)
print(df_1)
print()
print(df_concated)

        name       value
0  yesterday  2025-10-28

        name value
0  yesterday  None

<h1>6. Column order comes from the first dataframe</h1>

In [15]:
df_1 = pd.DataFrame({
    'name': ['yesterday'],
    'value': [None]
})

df_2 = pd.DataFrame({
    'value': [date.today()],
    'name': ['today']
})

In [21]:
pd.concat([df_1, df_2])

        name       value
0  yesterday        None
0      today  2025-10-31

In [22]:
pd.concat([df_2, df_1])

        value       name
0  2025-10-31      today
0        None  yesterday

<h1>7. Mismatching columns introduce new columns</h1>

In [26]:
df_1 = pd.DataFrame({
    'name': ['yesterday'],
    'value': [None]
})

df_2 = pd.DataFrame({
    'name_1': ['today'],
    'value': [date.today()]
})

pd.concat([df_1, df_2])

        name       value name_1
0  yesterday        None    NaN
0        NaN  2025-10-31  today