In [2]:
import pandas as pd

<h1>The dataframe</h1>

In [6]:
student = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Song', 'Biden', 'Trump'],
    'average_score': [100, 20, 90],
    'highest_score': [100, 20, 90]
})

student

   id   name  average_score  highest_score
0   1   Song            100            100
1   2  Biden             20             20
2   3  Trump             90             90

<h1>Change column types</h1>

In [7]:
# We can change the types of multiple columns
student = student.astype({'average_score': float, 'highest_score': float})
student

   id   name  average_score  highest_score
0   1   Song          100.0          100.0
1   2  Biden           20.0           20.0
2   3  Trump           90.0           90.0