In [2]:
import pandas as pd

df = pd.DataFrame({
    'class': ['English', 'English', 'Math', 'Math'],
    'student': ['Song', 'Trump', 'Song', 'Trump'],
    'score': [100, 10, 20, 90]
})

df

     class student  score
0  English    Song    100
1  English   Trump     10
2     Math    Song     20
3     Math   Trump     90

In [45]:
df.sample(n=2, ignore_index=True)

     class student  score
0     Math   Trump     90
1  English   Trump     10

<h1>n > the length of the dataframe is a run-time exception</h1>

In [44]:
# n=4 is the max
df.sample(n=4, ignore_index=True)

     class student  score
0  English   Trump     10
1     Math   Trump     90
2  English    Song    100
3     Math    Song     20