In [1]:
import pandas as pd

df = pd.DataFrame({
    'class': ['English', 'English', 'Math', 'Math'],
    'student': ['Song', 'Trump', 'Song', 'Trump'],
    'score': [100, 10, 20, 90]
})

df

     class student  score
0  English    Song    100
1  English   Trump     10
2     Math    Song     20
3     Math   Trump     90

<h1>It is possible to get an empty sample dataframe if "frac" is too small</h1>

In [11]:
df_5 = df.sample(frac=0.05)
df_5

Empty DataFrame
Columns: [class, student, score]
Index: []

In [13]:
df_95 = df.drop(df_5.index)
df_95

     class student  score
0  English    Song    100
1  English   Trump     10
2     Math    Song     20
3     Math   Trump     90