In [47]:
import pandas as pd
import numpy as np
import random

D = {
    'class': ['English', 'English', 'Math', 'Math'],
    'student': ['Song', 'Trump', 'Song', 'Trump'],
    'score': [100, 10, 20, 90]
}
df = pd.DataFrame(D)
df

     class student  score
0  English    Song    100
1  English   Trump     10
2     Math    Song     20
3     Math   Trump     90

<h1>If the number of the chunks more than the number of rows in the original dataframe, empty chunks can be generated</h1>
<h4>If necessary the chunks (list of the sub-dateframes) can get random.shuffle() to create randomness</h4>

In [53]:
no_of_chunks = 6

dfs = []
indices = np.array_split(df.index, no_of_chunks)
for chunk_idx in indices:
    dfs.append(df.loc[chunk_idx].copy())
    random.shuffle(dfs)

dfs

[     class student  score
 1  English   Trump     10,
      class student  score
 0  English    Song    100,
   class student  score
 3  Math   Trump     90,
 Empty DataFrame
 Columns: [class, student, score]
 Index: [],
 Empty DataFrame
 Columns: [class, student, score]
 Index: [],
   class student  score
 2  Math    Song     20]

<h1>When concat together, it is OK the list has empty dateframes</h1>

In [54]:
pd.concat(dfs, ignore_index=True)

     class student  score
0  English   Trump     10
1  English    Song    100
2     Math   Trump     90
3     Math    Song     20