In [1]:
import pandas as pd

In [2]:
# This is the covid-19 data
# https://covid19.who.int/info/

df = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv')

In [3]:
df.head(1)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0

In [4]:
df.shape

(142437, 8)

In [5]:
def set_index(indices):
    if not isinstance(df.index, pd.core.indexes.range.RangeIndex):
        df.reset_index(inplace=True)
        
    df.set_index(indices, inplace=True)

In [6]:
set_index(['Country_code', 'Date_reported'])

In [7]:
df.reset_index(inplace=True)

In [8]:
df.columns

Index(['Country_code', 'Date_reported', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [9]:
df.shape

(142437, 8)

In [10]:
total = df.loc[:, ['Country_code', 'Country', 'Date_reported', 'New_cases', 'New_deaths']]
total = total.groupby(['Country_code', 'Country']).sum()
    
total.rename({'New_cases': 'Total_cases', 'New_deaths': 'Total_deaths'}, axis=1, inplace=True)
total.sort_values(['Total_cases'], ascending=False, inplace=True)
total.head()

                                       Total_cases  Total_deaths
Country_code Country
US           United States of America     37816239        625046
IN           India                        32512366        435758
BR           Brazil                       20583994        574848
RU           Russian Federation            6804910        178423
GB           The United Kingdom            6555204        131854

In [11]:
total.reset_index(inplace=True)
total = total.loc[:, ['Country_code', 'Total_cases', 'Total_deaths']]

In [12]:
cn_case = total.loc[total['Country_code']=='CN', 'Total_cases'].item()
us_case = total.loc[total['Country_code']=='US', 'Total_cases'].item()

compare = {
    'us_case': us_case,
    'cn_case': cn_case,
    'ratio': us_case/cn_case 
}

compare

{'us_case': 37816239, 'cn_case': 122777, 'ratio': 308.00751769468224}

In [13]:
us = df.loc[df['Country_code'] == 'US', :]
us = us.sort_values('Date_reported', ascending=False)

us

,Country_code,Date_reported,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
136426,US,2021-08-25,United States of America,AMRO,227282,37816239,1146,625046
136425,US,2021-08-24,United States of America,AMRO,42515,37588957,160,623900
136424,US,2021-08-23,United States of America,AMRO,141113,37546442,1281,623740
136423,US,2021-08-22,United States of America,AMRO,185176,37405329,1151,622459
136422,US,2021-08-21,United States of America,AMRO,134939,37220153,953,621308
...,...,...,...,...,...,...,...,...
135830,US,2020-01-07,United States of America,AMRO,0,0,0,0
135829,US,2020-01-06,United States of America,AMRO,0,0,0,0
135828,US,2020-01-05,United States of America,AMRO,0,0,0,0
135827,US,2020-01-04,United States of America,AMRO,0,0,0,0
135826,US,2020-01-03,United States of America,AMRO,0,0,0,0

In [14]:
df.shape

(142437, 8)