In [1]:
import pandas as pd

def create_df(data):
    df = pd.DataFrame(data)

    # Remove columns with empty names
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

    # Replace spaces in the column names by '_'
    df = df.rename(columns={c[0]: c[0].replace(' ', '_').lower() for c in df.dtypes.items()})

    return df

In [3]:
D1 = {
    'id': [1, 2, 3],
    'name': ['name_1_1', 'name_2_1', 'name_3_1']
}

D2 = {
    'id': [2, 3, 4],
    'name': ['name_2_2', 'name_3_2', 'name_4_2']
}

df1 = create_df(D1)
df2 = create_df(D2)

print('\ndf1')
print('-----------------------------')
print(df1)

print('\ndf2')
print('-----------------------------')
print(df2)

df1
-----------------------------
   id      name
0   1  name_1_1
1   2  name_2_1
2   3  name_3_1

df2
-----------------------------
   id      name
0   2  name_2_2
1   3  name_3_2
2   4  name_4_2

In [9]:
# inner, left, right, outer (full outer), cross
df_merged = df1.merge(df2, left_on=['id'], right_on=['id'], how='outer', suffixes=('', '_r'), indicator=True)

print(df_merged)

   id      name    name_r      _merge
0   1  name_1_1       NaN   left_only
1   2  name_2_1  name_2_2        both
2   3  name_3_1  name_3_2        both
3   4       NaN  name_4_2  right_only