<h1>With indicator=True a column named _merge will be created</h1>

In [6]:
import pandas as pd

student = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Song', 'Biden', 'Trump'],
})

student_score = pd.DataFrame({
    'student_id': [1, 3, 100],
    'score': [100, 20, 90],
})


student.merge(student_score, how='outer', left_on=['id'], right_on=['student_id'], indicator=True)

    id   name  student_id  score      _merge
0  1.0   Song         1.0  100.0        both
1  2.0  Biden         NaN    NaN   left_only
2  3.0  Trump         3.0   20.0        both
3  NaN    NaN       100.0   90.0  right_only