<h1>With indicator=True a column named _merge will be created</h1>

In [6]:
import pandas as pd

student = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Song', 'Biden', 'Trump'],
})

student_score = pd.DataFrame({
    'student_id': [1, 3, 100],
    'score': [100, 20, 90],
})


student.merge(student_score, how='outer', left_on=['id'], right_on=['student_id'], indicator=True)

    id   name  student_id  score      _merge
0  1.0   Song         1.0  100.0        both
1  2.0  Biden         NaN    NaN   left_only
2  3.0  Trump         3.0   20.0        both
3  NaN    NaN       100.0   90.0  right_only

<h1>If the indicator column name exist an run-time exception</h1>

In [11]:
import pandas as pd

student = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Song', 'Biden', 'Trump'],
    '_merge': ['ok', 'ok', 'ok']
})

student_score = pd.DataFrame({
    'student_id': [1, 3, 100],
    'score': [100, 20, 90],
})


student.merge(student_score, how='outer', left_on=['id'], right_on=['student_id'], indicator=True)

ValueError: Cannot use name of an existing column for indicator column

<h1>Need to specify a different column name as the indicator</h1>

In [10]:
import pandas as pd

student = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Song', 'Biden', 'Trump'],
    '_merge': ['ok', 'ok', 'ok']
})

student_score = pd.DataFrame({
    'student_id': [1, 3, 100],
    'score': [100, 20, 90],
})


student.merge(student_score, how='outer', left_on=['id'], right_on=['student_id'], indicator='_merge_indicator')

    id   name _merge  student_id  score _merge_indicator
0  1.0   Song     ok         1.0  100.0             both
1  2.0  Biden     ok         NaN    NaN        left_only
2  3.0  Trump     ok         3.0   20.0             both
3  NaN    NaN    NaN       100.0   90.0       right_only