In [1]:
import pandas as pd
import pyarrow.parquet as pq
from datetime import date, datetime, time
from dateutil.relativedelta import relativedelta

In [2]:
today = date.today()
yesterday = today - relativedelta(days=1)
tomorrow = today + relativedelta(days=1)

df = pd.DataFrame({
    'name': ['yesterday', 'today', 'tomorrow'],
    'value': [None, today, tomorrow]
})

df

        name       value
0  yesterday        None
1      today  2025-10-31
2   tomorrow  2025-11-01

<h4>Chained assignment cause SettingWithCopyWarning</h4>

In [3]:
df.loc[df['name'] == 'yesterday']['value'] = yesterday

/tmp/ipykernel_18003/3049601475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['name'] == 'yesterday']['value'] = yesterday

<h4>If SettingWithCopyWarning the dataframe is not updated</h4>

In [4]:
df

        name       value
0  yesterday        None
1      today  2025-10-31
2   tomorrow  2025-11-01

<h4>Without copy() the SettingWithCopyWarning is raised even when the sub-dataframe is assigned to a variable</h4>

In [5]:
df_sub = df.loc[df['name'] == 'yesterday']
df_sub['value'] = yesterday
df_sub

/tmp/ipykernel_18003/668825964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['value'] = yesterday

        name       value
0  yesterday  2025-10-30

<h4>With copy() we exclicitly update the copy</h4>

In [6]:
df_sub = df.loc[df['name'] == 'yesterday'].copy()
df_sub['value'] = yesterday
df_sub

        name       value
0  yesterday  2025-10-30

In [7]:
df

        name       value
0  yesterday        None
1      today  2025-10-31
2   tomorrow  2025-11-01

<h1>It is not predictable if we get a copy or a view</h1>

In [10]:
today = date.today()
yesterday = today - relativedelta(days=1)
tomorrow = today + relativedelta(days=1)

df = pd.DataFrame({
    'name': ['yesterday', 'today', 'tomorrow'],
    'value': [None, today, tomorrow]
})

df

        name       value
0  yesterday        None
1      today  2025-10-31
2   tomorrow  2025-11-01

<h4>If get part of the original dataframe, we get a view</h4>

In [14]:
df_sub = df.iloc[0:1]
df_sub['value'] = today

df_sub

/tmp/ipykernel_18003/2931621255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['value'] = today

        name       value
0  yesterday  2025-10-31

<h4>If the range include all the rows of the original dataframe, we get a copy</h4>

In [18]:
df_sub = df.iloc[0:3]

# This has no SettingWithCopyWarning
df_sub['value'] = today

df_sub

        name       value
0  yesterday  2025-10-31
1      today  2025-10-31
2   tomorrow  2025-10-31