In [78]:
import pandas as pd

r = range(1, 11)
df = pd.DataFrame({
    'id': r,
    'item': [f'item_{i}' for i in r]
})

df

   id     item
0   1   item_1
1   2   item_2
2   3   item_3
3   4   item_4
4   5   item_5
5   6   item_6
6   7   item_7
7   8   item_8
8   9   item_9
9  10  item_10

<h1>split into 2 by ratio</h1>

In [82]:
split_ratio = 0.05
split_index = int(len(df) * split_ratio)
split_index

0

In [83]:
df_first = df.iloc[:split_index]
df_first

Empty DataFrame
Columns: [id, item]
Index: []

In [84]:
df_second = df.iloc[split_index:]
df_second

   id     item
0   1   item_1
1   2   item_2
2   3   item_3
3   4   item_4
4   5   item_5
5   6   item_6
6   7   item_7
7   8   item_8
8   9   item_9
9  10  item_10