In [17]:
import pandas as pd

<h1>1. Student dateframe</h1>

In [78]:
df_student = pd.DataFrame({
    'id': [0, 1, 2, 3],
    'name': ['Song', 'trump', 'Biden', 'Potato'],
    'score': [None, None, None, None]
})

df_student

   id    name score
0   0    Song  None
1   1   trump  None
2   2   Biden  None
3   3  Potato  None

<h1>2. Score dataframe</h1>

In [79]:
df_score = pd.DataFrame({
    'name': ['Song', 'Potato'],
    'score': [50, 90]
})

df_score

     name  score
0    Song     50
1  Potato     90

<h1>3. merge two dataframes with indicator=True</h1>

In [85]:
df_merged = df_student.merge(df_score, on='name', how='left', suffixes=('', '_r'), indicator=True)
df_merged = df_merged.convert_dtypes()

df_merged

   id    name score  score_r     _merge
0   0    Song  None       50       both
1   1   trump  None     <NA>  left_only
2   2   Biden  None     <NA>  left_only
3   3  Potato  None       90       both

<h1>4. Update the merged rows if df_merged['_merge'] == 'both'</h1>

In [91]:
df_merged.loc[df_merged['_merge'] == 'both', 'score'] = df_merged['score_r']
df_merged

   id    name score  score_r     _merge
0   0    Song    50       50       both
1   1   trump  None     <NA>  left_only
2   2   Biden  None     <NA>  left_only
3   3  Potato    90       90       both

<h1>5. Select only the column in the df_student dataframe</h1>

In [92]:
df_merged.loc[:, list(df_student.columns)]

   id    name score
0   0    Song    50
1   1   trump  None
2   2   Biden  None
3   3  Potato    90