In [8]:
import pandas as pd

df = pd.DataFrame({
    'id': [1, 2, 3, None, None, None],
    'score': [20, 20, 100, 10, 10, 10]
}).convert_dtypes(dtype_backend='pyarrow')

df

     id  score
0     1     20
1     2     20
2     3    100
3  <NA>     10
4  <NA>     10
5  <NA>     10

<h1>& (for AND) and | (for OR)</h1>

<h4>
    <ul>
        <li><b>Bitwise Operators</b>: & (AND) and | (OR) operate element-by-element on the boolean Series returned by each condition</li>
        <li><b>Parentheses</b>: Necessary to enforce the order of operations, ensuring <b>"each condition is evaluated as a complete boolean Series"</b> before the & or | operation is applied.</li>
    </ul>
</h4>

<h1>Parentheses are important</h1>

In [13]:
df.loc[df['id'].isnull() | (df['score'] > 90), :]

     id  score
2     3    100
3  <NA>     10
4  <NA>     10
5  <NA>     10

In [19]:
df.loc[df['id'].notnull() & (df['score'] < 90), :]

   id  score
0   1     20
1   2     20

<h1>The loc[] conditions are not short curcuited, every condition is evaludated</h1>