In [83]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'id': [1, 2, 3, None, None, None],
    'score': [20, 20, 100, 10, 10, 10]
}).convert_dtypes(dtype_backend='pyarrow')

df

     id  score
0     1     20
1     2     20
2     3    100
3  <NA>     10
4  <NA>     10
5  <NA>     10

<h1>np.full(len(df), True)</h1>
<h4>1. It can be used to create an always true series</h4>
<h4>2. It can then be combined with other condictions</h4>

In [85]:
always_true = np.full(len(df), True)

df.loc[always_true, :]

     id  score
0     1     20
1     2     20
2     3    100
3  <NA>     10
4  <NA>     10
5  <NA>     10

<h4>Combined with other condictions</h4>

In [93]:
always_true = np.full(len(df), True)

df.loc[always_true & (df['score'] > 20), :]

   id  score
2   3    100

In [92]:
from datetime import date

today = date.today()
first_day_of_the_year = date(today.year, 1, 1)

{
    'current_month': today.month,
    'first_day_of_the_year': first_day_of_the_year
}

{'current_month': 12, 'first_day_of_the_year': datetime.date(2025, 1, 1)}