In [1]:
import pandas as pd

D = {
    'id': [0, 1, 2, 3],
    'name': ['Song', 'Biden', 'Trump', 'Potato'],
    'score': [100, 10, 20, 90]
}

df = pd.DataFrame(D)
df.set_index('id', inplace=True)

df

      name  score
id
0     Song    100
1    Biden     10
2    Trump     20
3   Potato     90

<h1>loc[] can generate an empty dataframe that has the same schema</h1>

In [2]:
df_empty = df.loc[df.index == 5, :]
df_empty

Empty DataFrame
Columns: [name, score]
Index: []

In [3]:
df_empty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    0 non-null      object
 1   score   0 non-null      int64
dtypes: int64(1), object(1)
memory usage: 0.0+ bytes

<h1>Loc[] on empty list gets an empty dateframe</h1>

In [6]:
df.loc[[]]

Empty DataFrame
Columns: [name, score]
Index: []