<b>Example dataframe:</b>

In [1]:
import pandas as pd

D = {
    'id': [0, 1, 2, 3],
    'name': ['Song', 'Biden', 'Biden', 'Potato'],
    'score': [100, 10, 20, 90]
}

df = pd.DataFrame(D)
df.set_index('name', inplace=True)

df

        id  score
name
Song     0    100
Biden    1     10
Biden    2     20
Potato   3     90

<h1>loc</h1>
<b>loc select rows and columns by labels</b>

<ol>
    <li>The 1st entry is the label of the rows (index labels)</li>
    <li>The 2nd entry is the label of the columns (column name)</li>
</ol>

<b>Input & output types</b>
<ol>
    <li>When both entries are list, even the list has only 1 entry => returns a dataframe</li>
    <li>When one of the entries is a scalar => returns a series</li>
    <li>When both of the entries are scalar => returns a scalar. If the index is not unique, it still returns a series</li>
    <li>If selection does not match any record, loc throws an <b>exception</b></li>
</ol>

<b>When using slice syntax, loc is inclusive at both ends</b>

In [2]:
# Both inputs are lists, even the list has only 1 entry => returns a dataframe

df.loc[['Song'],:]

      id  score
name
Song   0    100

In [3]:
# One of the inputs is list => returns a series

df.loc['Song',:]

id         0
score    100
Name: Song, dtype: int64

In [4]:
# Both inputs are scalars => returns a scalar

df.loc['Song', 'score']

np.int64(100)

In [5]:
# Both inputs are scalars, but index is not unique => returns a series

df.loc['Biden', 'score']

name
Biden    10
Biden    20
Name: score, dtype: int64

In [6]:
# When using slice syntax, loc is inclusive at both ends

df.loc['Song':'Biden', 'id':'score']

       id  score
name
Song    0    100
Biden   1     10
Biden   2     20

<h1>iloc</h1>
<b>iloc select rows and columns by 0 based integer position</b>

<ol>
    <li>The 1st entry is the position of the rows</li>
    <li>The 2nd entry is the position of the columns</li>
</ol>

<b>Input & output types</b>
<ol>
    <li>When both entries are list, even the list has only 1 entry => returns a dataframe</li>
    <li>When one of the entries is a scalar => returns a series</li>
    <li>When both of the entries are scalar => returns a scalar</li>
    <li>If selection does not match any record =>throws an <b>exception</b></li>
</ol>

<b>When using slice syntax, iloc is inclusive at the begining exclusive at the end</b>
<br>
<b>Exclusion takes the presidence -> 0:0 => generates empty return</b>

In [7]:
# Both inputs are lists => returns a dataframe

df.iloc[[0],:]

      id  score
name
Song   0    100

In [8]:
# One of the inputs is list => returns a series

df.iloc[0,:]

id         0
score    100
Name: Song, dtype: int64

In [9]:
# Both inputs are scalars, but index is not unique => returns a series

df.iloc[1, 1]

np.int64(10)

In [11]:
# When using slice syntax, iloc is inclusive at the begining and exclusive at the end

df.iloc[0:1, 0:1]

      id
name
Song   0

In [13]:
# When 0:0 (empty) -> exclusion takes effect

df.iloc[0:0, 0:1]

Empty DataFrame
Columns: [id]
Index: []