In [23]:
import pandas as pd
import pyarrow.parquet as pq
from datetime import date, datetime, time
from dateutil.relativedelta import relativedelta

In [24]:
today = date.today()
yesterday = today - relativedelta(days=1)
tomorrow = today + relativedelta(days=1)

df = pd.DataFrame({
    'name': ['yesterday', 'today', 'tomorrow'],
    'value': [None, today, tomorrow]
})

df

        name       value
0  yesterday        None
1      today  2025-10-29
2   tomorrow  2025-10-30

<h4>Chained assignment cause SettingWithCopyWarning</h4>

In [25]:
df.loc[df['name'] == 'yesterday']['value'] = yesterday

/tmp/ipykernel_5407/3049601475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['name'] == 'yesterday']['value'] = yesterday

<h4>If SettingWithCopyWarning the dataframe is not updated</h4>

In [26]:
df

        name       value
0  yesterday        None
1      today  2025-10-29
2   tomorrow  2025-10-30

<h4>Without copy() the SettingWithCopyWarning is raised even when the sub-dataframe is assigned to a variable</h4>

In [27]:
df_sub = df.loc[df['name'] == 'yesterday']
df_sub['value'] = yesterday
df_sub

/tmp/ipykernel_5407/668825964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['value'] = yesterday

        name       value
0  yesterday  2025-10-28

<h4>With copy() we exclicitly update the copy</h4>

In [30]:
df_sub = df.loc[df['name'] == 'yesterday'].copy()
df_sub['value'] = yesterday
df_sub

        name       value
0  yesterday  2025-10-28

In [31]:
df

        name       value
0  yesterday        None
1      today  2025-10-29
2   tomorrow  2025-10-30