In [3]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [6]:
df = pd.DataFrame({
    'id': [1, 2],
    'student': ['Song', 'Trump']
})

df

   id student
0   1    Song
1   2   Trump

In [20]:
df1 = df
df1['score'] = 20

df

   id student  score
0   1    Song     20
1   2   Trump     20

<h1>Avoid chained assignment</h1>

In [22]:
df = pd.DataFrame({
    'id': [1, 2],
    'student': ['Song', 'Trump']
})

df.loc[df['id'] == 1]['score'] = 100

/tmp/ipykernel_11125/3450323254.py:6: ChainedAssignmentError: A value is trying to be set on a copy of a DataFrame or Series through chained assignment.
When using the Copy-on-Write mode, such chained assignment never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy.

Try using '.loc[row_indexer, col_indexer] = value' instead, to perform the assignment in a single step.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['id'] == 1]['score'] = 100

<h1>Syntax sugers in pandas cause confusions</h1>
<h4>The following works as the assignment is on a new data frame</h4>

In [28]:
df = pd.DataFrame({
    'id': [1, 2],
    'student': ['Song', 'Trump']
})

df1 = df.loc[df['id'] == 1]
df1['score'] = 100

df1

   id student  score
0   1    Song    100