In [2]:
import pandas as pd

<h1>The dataframe</h1>

In [5]:
student = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Song', 'Biden', 'Trump'],
    'score': [100, 20, 90]
})

student

   id   name  score
0   1   Song    100
1   2  Biden     20
2   3  Trump     90

<h1>Get column names</h1>

In [9]:
# tolist() returns a standard python list
column_names = student.columns.tolist()
column_names

['id', 'name', 'score']