In [2]:
import pandas as pd

In [18]:
D1 = {
    'id': [1, 2, 3],
    'name': ['name_1_1', 'name_2_1', 'name_3_1']
}

D2 = {
    'id': [2, 3, 4],
    'name': ['name_2_2', 'name_3_2', 'name_4_2']
}

df1 = pd.DataFrame(D1)
df2 = pd.DataFrame(D2)

print('\ndf1')
print('-----------------------------')
print(df1)

print('\ndf2')
print('-----------------------------')
print(df2)

df1
-----------------------------
   id      name
0   1  name_1_1
1   2  name_2_1
2   3  name_3_1

df2
-----------------------------
   id      name
0   2  name_2_2
1   3  name_3_2
2   4  name_4_2