https://www.dataquest.io/blog/settingwithcopywarning/

In [1]:
import pandas as pd

In [2]:
data = {
    'Id': [1, 2, 3, 4],
    'Name': ['Song', 'Biden', 'Trump', 'Obama'],
    'Score': [100, 20, 30, 40]
}

df = pd.DataFrame(data, columns=['Id', 'Name', 'Score'])

In [3]:
# This has a warning, and the data frame is not updated
df[df['Id']==4]['Score'] = 200
df

/tmp/ipykernel_11617/431404241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['Id']==4]['Score'] = 200

   Id   Name  Score
0   1   Song    100
1   2  Biden     20
2   3  Trump     30
3   4  Obama     40

In [4]:
# This has no warning, and the data frame is updated
df.loc[df['Id']==4, ['Name', 'Score']] = ['Barack Obama', 200]
df

   Id          Name  Score
0   1          Song    100
1   2         Biden     20
2   3         Trump     30
3   4  Barack Obama    200

In [5]:
# This has a warning, the new frame is updated, but the original frame is not updated
df4 = df.loc[df['Id']==4]
df4['Score'] = 300
df4

/tmp/ipykernel_11617/1400475511.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Score'] = 300

   Id          Name  Score
3   4  Barack Obama    300

In [6]:
df

   Id          Name  Score
0   1          Song    100
1   2         Biden     20
2   3         Trump     30
3   4  Barack Obama    200

In [7]:
# This has no warning, because we explicitly operates on a copy
# The original frame is not updated
df4 = df.loc[df['Id']==4].copy()
df4['Score'] = 400
df4

   Id          Name  Score
3   4  Barack Obama    400

In [8]:
df

   Id          Name  Score
0   1          Song    100
1   2         Biden     20
2   3         Trump     30
3   4  Barack Obama    200

In [68]:
# https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o
# Update a range
cond = (df['Id']>=3) & (df['Score'] > 10)
new_value = (df.loc[cond, ['Score']] / 2).astype(int)

df.loc[cond, ['Score']] = new_value
df

   Id          Name  Score
0   1          Song    100
1   2         Biden     20
2   3         Trump      7
3   4  Barack Obama      6