In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'class': ['English', 'Math'],
    'score': [None, 80]
})
df1['score'] = df1['score'].astype('Int32')

df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   2 non-null      object
 1   score   1 non-null      Int32
dtypes: Int32(1), object(1)
memory usage: 158.0+ bytes

     class  score
0  English   <NA>
1     Math     80

In [4]:
df2 = pd.DataFrame({
    'class': ['Science', 'Sports'],
    'score': [None, None]
})
df2['score'] = df2['score'].astype('Int32')

df2.info()
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   2 non-null      object
 1   score   0 non-null      Int32
dtypes: Int32(1), object(1)
memory usage: 158.0+ bytes

     class  score
0  Science   <NA>
1   Sports   <NA>

<h1>It is better to have the same type for the column to concat()</h1>
<h1>If the same column from different frames have different types, the more generic one will be the type of the result frame</h1>

In [5]:
df = pd.concat([df1, df2])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   4 non-null      object
 1   score   1 non-null      Int32
dtypes: Int32(1), object(1)
memory usage: 84.0+ bytes

     class  score
0  English   <NA>
1     Math     80
0  Science   <NA>
1   Sports   <NA>