In [81]:
import pandas as pd

<h1>Fill None with Default value, True for example</h1>

In [31]:
df = pd.DataFrame({'bool_col': [True, False, True, None, None]})
df.convert_dtypes()

df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bool_col  3 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

  bool_col
0     True
1    False
2     True
3     None
4     None

<h1>If None exists in the values, the cast will fail</h1>

In [80]:
df = pd.DataFrame({'bool_col': [True, False, True, None, None]})
df.convert_dtypes()

df['bool_col'] = df['bool_col'].astype('string').str.strip().str.lower().map({'true': 1, 'false': 0}).astype('Int64')
df

   bool_col
0         1
1         0
2         1
3      <NA>
4      <NA>

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bool_col  5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

<h1>Use map() seems to be a more fault tolerant method</h1>

In [112]:
df = pd.DataFrame({'bool_col': [True, False, True, None, None, 'Non-mappable']})
df

       bool_col
0          True
1         False
2          True
3          None
4          None
5  Non-mappable

In [120]:
df = pd.DataFrame({'bool_col': [True, False, True, None, None, 'Non-mappable']})
df['bool_col'] = df['bool_col'].map({True: 1, False: 0})
df['bool_col'] = df['bool_col'].astype('Int64')
df.convert_dtypes()
df

   bool_col
0         1
1         0
2         1
3      <NA>
4      <NA>
5      <NA>

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bool_col  3 non-null      Int64
dtypes: Int64(1)
memory usage: 186.0 bytes