In [1]:
import pandas as pd
from datetime import datetime, date

<b>Pandas aware of the timezone</b>
<br>
<b>But if tz parameter is not provided, no tz information is not included in the timestamp</b>

In [2]:
print(pd.Timestamp.now(tz='UTC'))
print(pd.Timestamp.now())

2025-10-30 01:44:31.769171+00:00
2025-10-29 21:44:31.779441

<b>Example to create a datetime64 column</b>
<br>
<b>It may be better to explicitly specify the timezone, such as utc on both the column and the data (the value of the now variable)</b>

In [3]:
now = pd.Timestamp.now(tz='UTC')

D = { 'id': [1, 2] }
df = pd.DataFrame(D)
df['time_now'] = now
df['time_now'] = pd.to_datetime(df['time_now'], utc=True)
df['time_na'] = pd.NaT
df['time_na'] = pd.to_datetime(df['time_na'], utc=True)

# Assign a value
df.loc[df['id'] == 1, ['time_na']] = now

print(df)
print('\nInformation of the dataframe----------------------------')
df.info()

   id                         time_now                          time_na
0   1 2025-10-30 01:44:37.218048+00:00 2025-10-30 01:44:37.218048+00:00
1   2 2025-10-30 01:44:37.218048+00:00                              NaT

Information of the dataframe----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        2 non-null      int64
 1   time_now  2 non-null      datetime64[us, UTC]
 2   time_na   1 non-null      datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), datetime64[us, UTC](1), int64(1)
memory usage: 180.0 bytes

<h1>datetime convert to date</h1>

In [29]:
df = pd.DataFrame({
    'name': ['yesterday', 'today'],
    'value': [None, datetime.now()]
})

df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   value   1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 164.0+ bytes

        name                      value
0  yesterday                        NaT
1      today 2025-10-29 21:58:27.443301

In [30]:
# This can be done on the df once
# After that the df['value'] becomes date, it no longer has the dt.date property

df['value'] = df['value'].dt.date
df = df.convert_dtypes()
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      string
 1   value   1 non-null      object
dtypes: object(1), string(1)
memory usage: 164.0+ bytes

        name       value
0  yesterday         NaT
1      today  2025-10-29

In [34]:
df.loc[(~df['value'].isnull()) & (df['value'] >= date.today())]

    name       value
1  today  2025-10-29

In [37]:
df.loc[(df['value'].isnull()) | (df['value'] > date.today())]

        name value
0  yesterday   NaT

<h1>We can repalce pd.NaT to None</h1>

In [39]:
df = df.replace(pd.NaT, None)
df

        name       value
0  yesterday        None
1      today  2025-10-29