In [2]:
import pandas as pd

In [35]:
df1 = pd.DataFrame({
    'class': ['English', 'Math'],
    'score': [None, 80]
})
df1['score'] = df1['score'].astype('Int32')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   2 non-null      object
 1   score   1 non-null      Int32
dtypes: Int32(1), object(1)
memory usage: 158.0+ bytes

In [62]:
df2 = pd.DataFrame({
    'class': ['Science', 'Sports'],
    'score': [None, None]
})
df2['score'] = df2['score'].astype('Int32')

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   2 non-null      object
 1   score   0 non-null      Int32
dtypes: Int32(1), object(1)
memory usage: 158.0+ bytes

<h4>It is better to have the same type for the column to concat()</h4>
<h4>If the same column from different frames have different types, the more generic one will be the type of the result frame</h4>

In [63]:
df = pd.concat([df1, df2])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   4 non-null      object
 1   score   1 non-null      Int32
dtypes: Int32(1), object(1)
memory usage: 84.0+ bytes