In [7]:
import pandas as pd

D = {
    'id': [0, 1, 2, 3],
    'name': ['Song', 'Biden', 'Biden', 'Potato'],
    'score': [100, 10, 20, 90]
}

df = pd.DataFrame(D)
df.set_index('id', inplace=True)

df

      name  score
id
0     Song    100
1    Biden     10
2    Biden     20
3   Potato     90

<b>1. isin on index</b>

In [8]:
sub_df = df.loc[df.index <= 2, :]

another_df = df.loc[df.index.isin(sub_df.index), :]
another_df

     name  score
id
0    Song    100
1   Biden     10
2   Biden     20

<b>2. isin on a column</b>

In [9]:
sub_df = df.loc[df.index.isin([0, 3]), :]

another_df = df.loc[df['name'].isin(sub_df['name']), :]
another_df

      name  score
id
0     Song    100
3   Potato     90

<b>3. isin works on lists</b>

In [10]:
df.loc[df['name'].isin(['Song', 'Biden']), :]

     name  score
id
0    Song    100
1   Biden     10
2   Biden     20

<b>4. isin() function works on composite indices</b>

In [12]:
D = {
    'id_1': [1, 1, 2, 2, 3],
    'id_2': [1, 2, 1, 2, 1],
    'value': [11, 12, 21, 22, 31]
}

df1 = pd.DataFrame(D)
df1.set_index(['id_1', 'id_2'], inplace=True)

D = {
    'id_1': [1, 1, 2, 4, 4],
    'id_2': [1, 2, 1, 1, 2],
    'value': [11, 12, 21, 41, 42]
}

df2 = pd.DataFrame(D)
df2.set_index(['id_1', 'id_2'], inplace=True)

print('df1--------------------')
print(df1)
print('df2--------------------')
print(df2)

result = df1.loc[df1.index.isin(df2.index), :]
print('result--------------------')
print(result)

df1--------------------
           value
id_1 id_2
1    1        11
     2        12
2    1        21
     2        22
3    1        31
df2--------------------
           value
id_1 id_2
1    1        11
     2        12
2    1        21
4    1        41
     2        42
result--------------------
           value
id_1 id_2
1    1        11
     2        12
2    1        21