In [1]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
# This can be used to keep only one matching record when left join/merge

import pandas as pd

In [2]:
df = pd.DataFrame({'A': [1, 1, 2], 'B': ['A', 'B', 'C']})
df

   A  B
0  1  A
1  1  B
2  2  C

In [3]:
# Check all columns
df.drop_duplicates()

   A  B
0  1  A
1  1  B
2  2  C

In [4]:
df.drop_duplicates(subset=['A'])

   A  B
0  1  A
2  2  C

In [5]:
df.drop_duplicates(subset=['A'], ignore_index=True)

   A  B
0  1  A
1  2  C

In [11]:
data = {
    'A': ['A', 'A', 'B', 'B', 'C'],
    'B': ['B', 'B', 'A', 'A', 'D'],
    'C': [1, 1, 1, 3, 4]
}

df1 = pd.DataFrame(data).set_index(['A', 'B'])

In [13]:
# Display all
df1

     C
A B
A B  1
  B  1
B A  1
  A  3
C D  4

In [14]:
# drop_duplicates() does not check the index columns
df1.drop_duplicates()

     C
A B
A B  1
B A  3
C D  4

In [15]:
df1.drop_duplicates(ignore_index=True)

   C
0  1
1  3
2  4